<?xml version="1.0" encoding="UTF-8"?>
<web-app id="Cliente_Web" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Cliente_web</display-name>
	<filter>
	    <filter-name>SessionFilter</filter-name>
	    <filter-class>com.libreta.cliente.filters.SessionFilter</filter-class>
	</filter>
    <servlet>
        <display-name>AltaClienteServlet</display-name>
        <servlet-name>AltaClienteServlet</servlet-name>
        <servlet-class>com.libreta.cliente.servlets.AltaClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>LogoutServlet</display-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.uade.web.servlets.LogoutServlet</servlet-class>
    </servlet>    
    <servlet>
        <display-name>ListadoPedidosServlet</display-name>
        <servlet-name>ListadoPedidosServlet</servlet-name>
        <servlet-class>com.uade.web.servlets.ListadoPedidosServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>GetTotalPedidoServlet</display-name>
        <servlet-name>GetTotalPedidoServlet</servlet-name>
        <servlet-class>com.uade.web.servlets.GetTotalPedidoServlet</servlet-class>
    </servlet>        
    <servlet>
        <display-name>GenerarPedidoServlet</display-name>
        <servlet-name>GenerarPedidoServlet</servlet-name>
        <servlet-class>com.uade.web.servlets.GenerarPedidoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/nonsecure/servlets/LoginServlet</url-pattern>
    </servlet-mapping>    
	<filter-mapping>
	    <filter-name>SessionFilter</filter-name>
	    <url-pattern>/secure/*</url-pattern>
	</filter-mapping>             
	<servlet-mapping>
        <servlet-name>ListadoPedidosServlet</servlet-name>
        <url-pattern>/secure/servlets/ListadoPedidosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTotalPedidoServlet</servlet-name>
        <url-pattern>/secure/servlets/GetTotalPedidoServlet</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>GenerarPedidoServlet</servlet-name>
        <url-pattern>/secure/servlets/GenerarPedidoServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/secure/servlets/LogoutServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>nonsecure/jsp/Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
