<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="Cliente_Web" version="2.4">
  <display-name>Cliente_web</display-name>
  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>com.libreta.cliente_web.filters.SessionFilter</filter-class>
  </filter>
  <servlet>
    <display-name>AltaPersonaServlet</display-name>
    <servlet-name>AltaPersonaServlet</servlet-name>
    <servlet-class>com.libreta.cliente_web.servlets.AltaPersonaServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.libreta.cliente_web.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.libreta.cliente_web.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.libreta.cliente_web.servlets.HomeServlet</servlet-class>
  </servlet>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/secure/*</url-pattern>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>AltaPersonaServlet</servlet-name>
    <url-pattern>/secure/servlets/AltaPersonaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/nonsecure/servlets/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/secure/servlets/LogoutServlet</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/secure/servlets/HomeServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>nonsecure/jsp/Login.jsp</welcome-file>
  </welcome-file-list>
</web-app>